.body-articles {
  padding: 15px 80px;
  width: 70%;
}
.menu-articles {
  background-color: #3d3c3c;
  padding: 23px 30px;
}
.menu-articles-item {
  display: inline-block;
  color: #ffffff;
  font-size: 18px;
  margin-right: 50px;
}