@import "variables";

.body-articles {
  width:  calc(65% - 10px);
  padding: 20px 0 0 80px;
  margin-right: 10px;
}
.menu-articles {
  position: relative;
  background-color: #3d3c3c;
  padding: 23px 30px;
}
.menu-articles-item {
  display: inline-block;
  color: $gray-01;
  font-size: 18px;
  margin-right: 50px;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    color: $orange-01;
  }
}
.menu-articles-item.more {
  position: absolute;
  top: -4px;
  right: -18px;
  font-size: 40px;
}

.article-top {
  position: relative;
  background-color: #ffffff;
  height: 325px;
  padding: 27px 30px;
  margin-bottom: 20px;
  .btn:hover {
    color: #ffffff;
    background-color: $pink;
    border: 1px solid $pink;
  }
}

.article-top-news {
  margin-top: 30px;
  margin-left: 60px;
}

.article-top-text {
  margin-bottom: 30px;
  line-height: 46px;
  font-size: 35px;
  color: $pink;
  span {
    line-height: 130px;
    position: absolute;
    top: 75px;
    left: 27px;
    font-size: 120px;
  }
}

.article-top-img {
  position: absolute;
  width: 220px;
  top: 50px;
  right: 25px;
}

.news-line-left {
  float: left;
  width: 50%;
  padding-right: 10px;
}

.news-line-right {
  float: right;
  width: 50%;
  padding-left: 10px;
}

.article-type-one {
  background-color: #ffffff;
  color: black;
}

.article-type-one-header {
  padding: 15px 30px;
  background-color: #ffffff;
}

.article-type-two {
  position: relative;
  margin-top: 20px;
}

.article-type-two-header {
  position: absolute;
  padding: 15px 30px;
  width: 100%;
  bottom: 0;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.51);
}

.article-type-three {
  position: relative;
  margin-top: 20px;
}

.article-type-three-header {
  padding: 50px 30px;
  background-color: #ffffff;
}

.btn-load-more {
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  font-size: 20px;
  border: 0;
  color: $gray-01;
  background-color: $gray-02;
  cursor: pointer;
  transition: all 0.5s;
  i {
    vertical-align: middle;
  }
  &:hover {
    color: #000000;
    background-color: $gray-03;
  }
}