@import "variables";

.body-aside {
  width: calc(35% - 10px);
  padding: 20px 80px 0 0;
  margin-left: 10px;
  .toggle-group {
    display: flex;
  }
  .btn-toggle {
    width: 50%;
    display: inline-block;
    padding: 23px;
    font-size: 18px;
    text-align: center;
    background-color: $gray-02;
    color: $gray-01;
    cursor: pointer;
    &.active {
      color: $gray-02;
      background-color: $gray-01;
    }
  }
}

.item-list-news {
  position: relative;
  width: 100%;
  padding: 23px 30px;
  background-color: #ffffff;
  border-bottom: 1px $gray-01 solid;
  .header-list-news {
    color: $gray-03;
  }
  b {
    color: $gray-02;
  }
  span {
    color: $gray-01;
  }
  i {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    vertical-align: middle;
    color: $gray-01;
    cursor: pointer;
  }
}

.weather-box,.gallery-box {
  width: 100%;
}

.weather-header,.gallery-header {
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  color: $gray-01;
  background-color: $gray-02;
  cursor: pointer;
}

.weather-body {
  color: $gray-02;
  font-size: 23px;
  background-color: #ffffff;
  padding: 30px 30px;
}

.weather-block {
  display: flex;
  margin-top: 30px;
  padding: 30px 35px;
  font-size: 50px;
  background-color: $orange-02;
  border: 1px $orange-03 solid;
  .weather-block-text {
    line-height: 40px;
    span {
      color: $gray-04;
      font-size: 25px;
    }
  }
  i {
    margin-left: 20px;
    font-size: 170px;
    color: $orange-01;
  }
}

.timeline {
  display: flex;
  margin-top: 30px;
  text-align: center;
  .timeline-item {
    padding: 9px 20px;
    border-right: 2px dotted $gray-04;
    span {
      font-size: 20px;
      color: $gray-04;
    }
    i {
      margin-top: 10px;
      font-size: 40px;
    }
      &.day i {
        color: $orange-01;
      }
      &.night i {
        color: $gray-02;
      }
    &.last {
      border-right: none;
    }
  }
}


.body-gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 13px 12px;
  background-color: #ffffff;
}

.item-body-gallery {
  margin: 13px 12px;
  cursor: pointer;
}