@import url('https://fonts.googleapis.com/css?family=Aleo:300,300i,400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alatsi&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp');
@import "variables";

html, body {
  background-color: #282828;
  padding: 0;
  margin: 0;
  font-family: 'PT Sans Caption', sans-serif;
}
* {
  box-sizing: border-box;
}

.btn {
  padding: 6px 10px;
  font-size: 20px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    color: #ffffff;
    background-color: $orange;
    border: 1px solid $orange;
    outline: none;
  }
  &.pink {
    color: $pink;
    border: 1px solid $pink;
  }
}

.theme-text {
  display: inline-block;
  color: #ffffff;
  padding: 5px 10px;
  font-size: 19px;
  cursor: pointer;
  &.blue {
    background-color: $blue;
  }
  &.pink {
    background-color: $pink;
  }
  &.green {
    background-color: $green;
  }
}

.comment {
  display: inline-block;
  padding: 6px 10px;
  line-height: 23px;
  font-size: 20px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  cursor: pointer;
  i {
    vertical-align: middle;
  }
}

.article {
  .theme-text {
    position: absolute;
    margin-left: 30px;
  }
}