$blue: #10a6fc;
$pink: #d21e72;
$green: #2dcf26;
$gray-blue: #5087be;
$orange-01: #ff9b00;
$orange-02: #fdf8ef;
$orange-03: #fbcb72;
$yellow: #ffc135;
$gray-01: #eae8e6;
$gray-02: #3d3c3c;
$gray-03: #818080;
$gray-04: #c9c9c9;
