<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aleo!</title>
</head>
<body>
<div class="body-articles">
    <div class="menu-articles">
        <div class="menu-articles-item">LIFESTYLE</div>
        <div class="menu-articles-item">TECHNO</div>
        <div class="menu-articles-item">SCIENCE</div>
        <div class="menu-articles-item">EDUCATION</div>
        <div class="menu-articles-item">NATURE</div>
        <div class="menu-articles-item">TIPS</div>
        <div class="menu-articles-item more">...</div>
    </div>
    <div class="article-top">
        <div class="theme-text pink">TALKING POINTS</div>
        <img class="article-top-img" src="../img/woman.png" alt="img">
        <div class="article-top-news">
            <div class="article-top-text">
                <span>"</span>
                Call me naive, politicians, but<br/>
                how about saying what you<br/>
                really think?<br/>
            </div>
            <button class="btn pink">READ MORE</button>
        </div>
    </div>
    <div class="article article-type-one">
        <div class="theme-text green">TRAVEL</div>
        <div class="img-box">
            <img class="article-type-one-img" src="../img/children.png" alt="img">
        </div>
        <div class="article-type-one-header">
            <div class="article-type-one-header-name">Embers Camping Beaulieu, New
                Forest
            </div>
            <p class="article-type-one-header-text">
                As the name suggests, it’s all about campfires at
                Embers Camping Beaulieu, where every...
            </p>
        </div>
        <div class="elements-news">
            <button class="btn">READ MORE</button>
            <div class="comment">
                <i class="material-icons">
                chat_bubble_outline</i>
                1
            </div>
        </div>
        <div class="">

        </div>
    </div>
</div>
</body>
</html>