<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aleo!</title>
</head>
<body>
<div class="body-aside">
    <div class="toggle-group">
    <div class="btn-toggle active">
        TRENDING
    </div>
    <div class="btn-toggle">
        EDITOR'S PICK
    </div>
    </div>
    <div class="list-news">
        <div class="item-list-news">
            <div class="header-list-news">
                <b>FASHION</b>
                <span>//</span>
                A Lesson in Summer Styling
                <i class="material-icons">
                keyboard_arrow_right</i>
            </div>
        </div>
        <div class="item-list-news">
            <div class="header-list-news">
                <b>FASHION</b>
                <span>//</span>
                How to Wear Broderie Anglaise
                <i class="material-icons">
                    keyboard_arrow_right</i>
            </div>
        </div>
        <div class="item-list-news">
            <div class="header-list-news">
                <b>TRAVEL</b>
                <span>//</span>
                A Family Adventure
                <i class="material-icons">
                    keyboard_arrow_right</i>
            </div>
        </div>
        <div class="item-list-news">
            <div class="header-list-news">
                <b>TECH</b>
                <span>//</span>
                Malware is Not Only About Virus
                <i class="material-icons">
                    keyboard_arrow_right</i>
            </div>
        </div>
        <div class="item-list-news">
            <div class="header-list-news">
                <b>SCIENCE</b>
                <span>//</span>
                The First Space Walk
                <i class="material-icons">
                    keyboard_arrow_right</i>
            </div>
        </div>
        <div class="item-list-news">
            <div class="header-list-news">
                <b>FILM</b>
                <span>//</span>
                The Last of the Silent Movie Stars
                <i class="material-icons">
                    keyboard_arrow_right</i>
            </div>
        </div>
    </div>
    <div class="weather-box">
        <div class="weather-header">
            WEATHER
        </div>
        <div class="weather-body">
            <div class="day-date">
                Tuesday <br/>
                26 May 2015
            </div>
            <div class="weather-block">
                <div class="weather-block-text">
                    <span>NOW</span><br/>
                    63°F
                </div>
                <i class="material-icons">
                    cloud_queue
                </i>
            </div>
            <div class="timeline">
                <div class="timeline-item day">
                    <span>12:00</span><br/>
                    66°F<br/>
                    <i class="material-icons">
                        cloud_queue
                    </i>
                </div>
                <div class="timeline-item day">
                    <span>15:00</span><br/>
                    60°F<br/>
                    <i class="material-icons">
                        cloud_queue
                    </i>
                </div>
                <div class="timeline-item night">
                    <span>18:00</span><br/>
                    54°F<br/>
                    <i class="material-icons">
                        brightness_3
                    </i>
                </div>
                <div class="timeline-item night">
                    <span>21:00</span><br/>
                    49°F<br/>
                    <i class="material-icons">
                        brightness_3
                    </i>
                </div>
            </div>
            <div class="search-weather-city">
                <label class="input-area">
                    <input type="text" placeholder="LONDON" autocomplete="none">
                </label>
            </div>
        </div>
    </div>
    <div class="gallery-box">
        <div class="gallery-header">
            PHOTO GALLERY
        </div>
        <div class="body-gallery">
            <div class="item-body-gallery">
                <img class="gallery-img" src="../img/01.png" alt="img">
            </div>
            <div class="item-body-gallery">
                <img class="gallery-img" src="../img/02.png" alt="img">
            </div>
            <div class="item-body-gallery">
                <img class="gallery-img" src="../img/03.png" alt="img">
            </div>
            <div class="item-body-gallery">
                <img class="gallery-img" src="../img/04.png" alt="img">
            </div>
            <div class="item-body-gallery">
                <img class="gallery-img" src="../img/05.png" alt="img">
            </div>
            <div class="item-body-gallery">
                <img class="gallery-img" src="../img/06.png" alt="img">
            </div>
        </div>
    </div>
</div>
</body>
</html>