<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aleo!</title>
</head>
<body>
<div class="header">
    <div class="header-nav">
        <div class="logo-name">Aleo!</div>
        <div class="responsive-icon">
        <div class="btn-menu">
            <i class="material-icons">
                reorder</i>
        </div>
        <div class="btn-search">
            <i class="material-icons">
                search
            </i>
        </div>
        </div>
        <div class="navbar">
            <div class="nav-item active">Home</div>
            <div class="nav-item">About</div>
            <div class="nav-item">Connect</div>
            <div class="nav-item">Contact</div>
            <div class="btn-nav-search"><i class="material-icons">search</i>Search Something..</div>
        </div>
    </div>
    <div class="header-news">
        <div class="theme-text blue">INSPIRATION</div>
        <h3 class="header-news-name">Sara Maitland: "My sub&shy;con&shy;sci&shy;ous was cleverer<br/>
            than my conscious in choosing ti live alone"</h3>
        <p class="header-news-text">How did you come to live the solitary life? Was it a sudden<br/>
            decision or did it evolve gradually?</p>
        <button class="btn">READ MORE</button>
    </div>
</div>
</body>
</html>